@charset "UTF-8";
@font-face {
  font-weight: bold;
  font-family: "Butler";
  font-style: normal;
  src: url("../fonts/Butler-Bold.woff") format("woff");
  src: url("../fonts/Butler-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Butler";
  font-style: normal;
  src: url("../fonts/Butler.woff") format("woff");
  src: url("../fonts/Butler.woff2") format("woff2");
}

/* 共通 */
.bold {
  font-weight: bold;
}

.red-bold {
  color: red;
  font-weight: bold;
}

.row-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.row-container div,
.row-container li {
  list-style: none;
}

.row-container div img,
.row-container li img {
  width: 100%;
}

.colunm-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colunm-container div,
.colunm-container li {
  list-style: none;
}

.colunm-container div img,
.colunm-container li img {
  width: 100%;
}

/* メニューバー */
.menu-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  height: 80px;
  background-color: white;
  border-bottom: solid 1px #eee;
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 0 0 auto;
}

.menu-item {
  width: 120px;
  height: 80px;
  text-align: center;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-link {
  width: 100%;
  height: 80px;
  color: #111;
  line-height: 80px;
  text-align: center;
  text-decoration: none;
}

.menu-link:hover {
  color: #eee;
  background-color: #aaa;
}

/********************
 * 各セクション 
 ********************/
/*** タイトル ***/
.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 600px;
  margin: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(90%), to(white)), url("../image/background1.jpg");
  background: linear-gradient(to bottom, transparent, 90%, white), url("../image/background1.jpg");
  background-size: cover;
}

.title-container {
  margin-right: 100px;
  text-align: end;
}

.myprefix {
  font-weight: normal;
  font-size: 20px;
  font-family: "Butler", serif;
  font-style: normal;
}

.myname {
  font-weight: bold;
  font-size: 50px;
  font-family: "Butler", serif;
  font-style: normal;
}

/*** 自己紹介 ***/
.myprofile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-container {
  width: 70%;
}

.myimage {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.education-container {
  padding-left: 30px;
}

/*** スキル ***/
.skill {
  width: 10%;
}

/*** サービス ***/
.service {
  width: 40%;
}

.service-image {
  width: 300px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.services-note {
  text-align: center;
}

/*** ワーク ***/
.works-container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mask {
  background-color: rgba(0, 0, 0, 0);
}

.work-text {
  padding: 20px;
  color: rgba(0, 0, 0, 0);
}

.overray {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
}

.work {
  position: relative;
  width: 400px;
  margin: 20px auto;
}

.work:hover .mask {
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.work:hover .work-text {
  bottom: 0;
  color: #eeeeee;
}

.work-image {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

/*** コンタクト ***/
.contact-text {
  text-align: center;
}

.contact-container {
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.contact {
  width: 30px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  color: white;
  background-color: #555;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-material {
  font-size: 20px;
}

/********************
 * フッター
 ********************/
.copyright {
  font-size: 0.3rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */