@charset "UTF-8";
@font-face {
  font-weight: bold;
  font-family: "Butler";
  font-style: normal;
  src: url("../fonts/Butler-Bold.woff") format("woff");
  src: url("../fonts/Butler-Bold.woff2") format("woff2");
}

@font-face {
  font-weight: normal;
  font-family: "Butler";
  font-style: normal;
  src: url("../fonts/Butler.woff") format("woff");
  src: url("../fonts/Butler.woff2") format("woff2");
}

/********************
* 各セクション 
********************/
/***** ヘッダー *****/
header {
  padding: 10px 5%;
}

@media screen and (min-width: 900px) {
  header {
    padding: 10px 10%;
  }
}

.title-container > span {
  font-family: "Butler", serif;
  font-style: normal;
}

.myprefix {
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (min-width: 500px) {
  .myprefix {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .myprefix {
    font-size: 1.5rem;
  }
}

.myname {
  font-weight: bold;
  font-size: 2rem;
}

@media screen and (min-width: 500px) {
  .myname {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 900px) {
  .myname {
    font-size: 3rem;
  }
}

.page-title {
  font-weight: bold;
  font-size: 1.73994rem;
}

@media screen and (min-width: 500px) {
  .page-title {
    font-size: 2.08792rem;
  }
}

@media screen and (min-width: 900px) {
  .page-title {
    font-size: 2.6099rem;
  }
}

/***** 自己紹介 *****/
.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-container img {
  width: 80%;
  max-width: 300px;
  border-radius: 50%;
}

.my-values {
  padding-left: 1em;
}

.my-values p {
  margin-top: 5px;
  line-height: 1.5;
}

.career-table {
  border-collapse: collapse;
}

.career-table th {
  width: 5em;
  padding: 7px;
  font-weight: 400;
  text-align: right;
  border-right: solid 1px #ccc;
}

.career-table td {
  padding: 7px;
}

@media screen and (min-width: 900px) {
  .myprofile-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 60% 1fr;
        grid-template-columns: 60% 1fr;
  }
  .image-container {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding-left: 10%;
  }
  .text-container {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .career-container {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10%;
  }
}

/***** スキル *****/
.skills-table {
  border-collapse: collapse;
}

.skills-table th,
.skills-table td {
  display: block;
}

.skills-table tr:nth-child(odd) {
  background-color: #eee;
}

@media screen and (min-width: 500px) {
  .skills-table th,
  .skills-table td {
    display: table-cell;
  }
}

.skill-icon {
  padding: 10px 10px 0;
  text-align: center;
}

.skill-icon img {
  width: 48px;
}

.skill-icon .ruby-icon {
  width: 36px;
}

.skill-name {
  width: 6.5em;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .skill-name {
    text-align-last: left;
  }
}

.skill-level {
  padding: 10px;
  text-align: center;
}

.skill-abletodo {
  padding: 10px 10px 10px 50px;
}

/***** サービス *****/
.services-container div,
.services-container li {
  list-style: none;
}

.services-container div img,
.services-container li img {
  width: 100%;
}

.service-image-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56%;
}

.service-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 0;
     object-position: 50% 0;
}

.services-note {
  text-align: center;
}

@media screen and (min-width: 900px) {
  .services-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .services-container div,
  .services-container li {
    list-style: none;
  }
  .services-container div img,
  .services-container li img {
    width: 100%;
  }
  .service {
    width: 45%;
  }
}

/***** ワーク *****/
.works-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-container div,
.works-container li {
  list-style: none;
}

.works-container div img,
.works-container li img {
  width: 100%;
}

.work {
  position: relative;
  width: 800px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.work-text {
  padding: 10px;
}

@media screen and (min-width: 900px) {
  .mask {
    background-color: rgba(0, 0, 0, 0);
  }
  .work-text {
    padding: 20px;
    color: rgba(0, 0, 0, 0);
  }
  .overray {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    border-radius: 5px;
    -webkit-transition: all 300ms 0s ease;
    transition: all 300ms 0s ease;
  }
  .work {
    background-color: transparent;
  }
  .work:hover .mask {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .work:hover .work-text {
    bottom: 0;
    color: #eeeeee;
  }
}

/***** コンタクト *****/
.contact-text {
  text-align: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  margin: 20px auto;
  padding: 0;
}

.contact-container div,
.contact-container li {
  list-style: none;
}

.contact-container div img,
.contact-container li img {
  width: 100%;
}

.contact {
  width: 60px;
}

.contact-icon {
  width: 60px;
  height: 60px;
  color: white;
  background-color: #555;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-material {
  font-size: 40px !important;
}

/********************
 * フッター
 ********************/
.copyright {
  font-size: 0.3rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */