@import "fonts.scss";
@import "define.scss";

* {
  margin: 0;
  padding: 0;
  color: #333;
}

html {
  // font-size: 62.5%; // 文字サイズをrem指定にする(1rem=10px)
  font-family: "Noto Sans JP", sans-serif;
}

body {
  // padding: 0 5%;
  // @include mq() {
  //   padding: 0 10%;
  // }
}

h1,
h2 {
  font-family: "Butler", serif;
}

h1 {
  margin-bottom: 20px;
  font-size: 1.8rem;

  @include mq() {
    font-size: 2.5rem;
  }

  span.material-icons {
    display: inline-flex;
    color: #111;
    font-size: 1em;
    vertical-align: -0.1em;
    @include mq() {
      font-size: 2.5rem;
    }
  }
}

h2 {
  margin-top: 20px;
  font-size: 1.3rem;
  @include mq() {
    font-size: 1.5rem;
  }
}

h3 {
  margin-top: 20px;
  font-size: 1.2rem;
}

section {
  margin-top: 20px;
  padding: 0 5%;
  @include mq() {
    margin-top: 50px;
    padding: 0 10%;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  color: #111;
  text-decoration: none;
}
