@import "fonts.scss";
@import "define.scss";

/********************
* 各セクション 
********************/

/***** ヘッダー *****/
header {
  padding: 10px 5%;
  @include mq() {
    padding: 10px 10%;
  }
}

.title-container > span {
  font-family: "Butler", serif;
  font-style: normal;
}

$name-size: 2rem;

.myprefix {
  $prefix-size: $name-size * 0.5;
  font-weight: normal;
  font-size: $prefix-size;
  @include mq(md) {
    font-size: $prefix-size * 1.2;
  }
  @include mq() {
    font-size: $prefix-size * 1.5;
  }
}

.myname {
  font-weight: bold;
  font-size: $name-size;
  @include mq(md) {
    font-size: $name-size * 1.2;
  }
  @include mq() {
    font-size: $name-size * 1.5;
  }
}

.page-title {
  $title-size: $name-size * 413/474.73;
  font-weight: bold;
  font-size: $title-size;
  @include mq(md) {
    font-size: $title-size * 1.2;
  }
  @include mq() {
    font-size: $title-size * 1.5;
  }
}

// /*** タイトル ***/

// .title-section {
//   height: 150vw;
// }

// .main-image {
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   display: block;
//   width: calc(100vw - 15px);
//   height: 150vw;
//   background: linear-gradient(to bottom, transparent, 90%, white),
//     url("../image/background2.jpg");
//   background-color: rgba(255, 255, 255, 0);
//   background-size: contain;
//   background-blend-mode: lighten;
//   transition: all 1s;
// }

// // .title-container {
// //   position: absolute;
// //   top: 100vw;
// //   right: 10%;
// //   text-align: end;
// // }

// @include mq() {
//   .title-section {
//     height: 70vw;
//   }

//   .main-image {
//     position: fixed;
//     top: 80px;
//     right: 0;
//     left: 0;
//     height: 75vw;
//     background: linear-gradient(to bottom, transparent 80%, white 90%),
//       url("../image/background1.jpg");
//   }
// }

// .bg-dilute {
//   background-color: rgba(255, 255, 255, 0.9);
//   background-blend-mode: lighten;
// }

/***** 自己紹介 *****/

.image-container {
  @include positionning_center();
  img {
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
  }
}

.my-values {
  padding-left: 1em;
  p {
    margin-top: 5px;
    line-height: 1.5;
  }
}

.career-table {
  border-collapse: collapse;
  th {
    width: 5em;
    padding: 7px;
    font-weight: 400;
    text-align: right;
    border-right: solid 1px #ccc;
  }
  td {
    padding: 7px;
  }
}

// 画面サイズlg以上でのグリッドレイアウト
@include mq() {
  .myprofile-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 1fr;
    // justify-content: space-between;
  }

  .image-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: start;
    padding-left: 10%;
  }
  .text-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .career-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10%;
  }
}

/***** スキル *****/

.skills-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  // @include grid-container;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 40px;
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.skill {
  width: 100%;
  list-style: none;
  @include mq() {
    width: 120px;
  }
  img {
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
}

.skill-level {
  margin: 0;
}

@media screen and (min-width: 1024px) {
  .skills-container {
    @include row-container;
    justify-content: space-around;
  }
}

/***** サービス *****/

.services-container {
  @include common-container;
}

.service-image-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56%;
}

.service-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.services-note {
  text-align: center;
}

@include mq() {
  .services-container {
    @include row-container;
  }

  .service {
    width: 45%;
  }
}

/***** ワーク *****/

.works-container {
  @include row-container;
  flex-wrap: wrap;
}

.work {
  position: relative;
  width: 800px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.work-text {
  padding: 10px;
}

@include mq() {
  .mask {
    background-color: rgba($color: #000000, $alpha: 0);
  }

  .work-text {
    padding: 20px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .overray {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    border-radius: 5px;
    transition: all 300ms 0s ease;
  }

  .work {
    background-color: transparent;

    &:hover .mask {
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }

    &:hover .work-text {
      bottom: 0;
      color: rgba($color: #eee, $alpha: 1);
    }
  }
}

/***** コンタクト *****/

.contact-text {
  text-align: center;
}

.contact-container {
  @include row-container;
  width: 300px;
  margin: 20px auto;
  padding: 0;
}

.contact {
  width: 60px;
}

.contact-icon {
  width: 60px;
  height: 60px;
  color: white;
  background-color: #555;
  border-radius: 10%;
  @include positionning_center;
}

.contact-material {
  font-size: 40px !important;
}

/********************
 * フッター
 ********************/

.copyright {
  font-size: 0.3rem;
  text-align: center;
}
