@import "fonts.scss";
@import "define.scss";

/* 共通 */
.bold {
  font-weight: bold;
}

.red-bold {
  color: red;
  font-weight: bold;
}

.fadein {
  visibility: hidden;
}

/*** 白の背景設定 ***/

.bg-white {
  position: absolute;
  top: 75vw;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
}

/********************
* 各セクション 
********************/

/*** タイトル ***/

.title-section {
  height: 150vw;
}

.main-image-sp {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
}

.main-image-pc {
  display: none;
}

.main-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100vw;
  height: 150vw;
  background: linear-gradient(to bottom, transparent, 90%, white),
    url("../image/background2.jpg");
  background-size: contain;
}

.title-container {
  position: absolute;
  top: 100vw;
  right: 10%;
  text-align: end;
}

.myprefix {
  font-weight: normal;
  font-size: 5vw;
  font-family: "Butler", serif;
  font-style: normal;
}

.myname {
  font-weight: bold;
  font-size: 12vw;
  font-family: "Butler", serif;
  font-style: normal;
}

@include mq() {
  .title-section {
    height: 70vw;
  }

  .main-image-pc {
    position: absolute;
    top: 80px;
    right: 0;
    left: 0;
    display: block;
    width: 100%;
  }

  .main-image {
    position: absolute;
    top: 80px;
    left: 0;
    display: block;
    width: 100vw;
    height: 75vw;
    background: linear-gradient(to bottom, transparent 80%, white 90%),
      url("../image/background1.jpg");
    background-size: contain;
  }

  .main-image-sp {
    display: none;
  }

  .title-container {
    top: 40vw;
    right: 10%;
  }

  .myprefix {
    font-size: 1rem;
  }

  .myname {
    font-size: 3rem;
  }
}

/*** 自己紹介 ***/

.image-container {
  @include positionning_center;
}

.myimage {
  width: 80%;
  max-width: 200px;
  border-radius: 50%;
}

@include mq() {
  .myprofile-container {
    display: flex;
  }

  .image-container {
    width: 30%;
    @include positionning_center;
  }
  .text-container {
    width: 70%;
  }

  .myimage {
    width: 80%;
    max-width: 200px;
    border-radius: 50%;
  }

  .education-container {
    padding-left: 30px;
  }
}

/*** スキル ***/

.skills-container {
  grid-template-columns: 33% 33% 33%;
  @include grid-container;
  column-gap: 10px;
  row-gap: 30px;
}

.skill {
  width: 80px;
}

.skill-level {
  margin: 0;
}

@media screen and (min-width: 576px) {
  .skills-container {
    grid-template-columns: 25% 25% 25% 25%;
  }
  .skill {
    width: 100px;
  }
}

@include mq() {
  .skill {
    width: 120px;
  }
}

@media screen and (min-width: 1024px) {
  .skills-container {
    @include row-container;
    justify-content: space-around;
  }
}

/*** サービス ***/

.services-container {
  @include common-container;
}

.service-image-container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56%;
}

.service-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0;
}

.services-note {
  text-align: center;
}

@include mq() {
  .services-container {
    @include row-container;
  }

  .service {
    width: 45%;
  }
}

/*** ワーク ***/

.works-container {
  @include row-container;
  flex-wrap: wrap;
}

.work {
  position: relative;
  width: 800px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.work-text {
  padding: 10px;
}

@include mq() {
  .mask {
    background-color: rgba($color: #000000, $alpha: 0);
  }

  .work-text {
    padding: 20px;
    color: rgba($color: #000000, $alpha: 0);
  }

  .overray {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 100%;
    left: 0;
    border-radius: 5px;
    transition: all 300ms 0s ease;
  }

  .work {
    background-color: transparent;

    &:hover .mask {
      bottom: 0;
      background-color: rgba($color: #000000, $alpha: 0.7);
    }

    &:hover .work-text {
      bottom: 0;
      color: rgba($color: #eee, $alpha: 1);
    }
  }
}

/*** コンタクト ***/

.contact-text {
  text-align: center;
}

.contact-container {
  @include row-container;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.contact {
  width: 30px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  color: white;
  background-color: #555;
  border-radius: 10%;
  @include positionning_center;
}

.contact-material {
  font-size: 20px;
}

/********************
 * フッター
 ********************/

.copyright {
  font-size: 0.3rem;
  text-align: center;
}
