@mixin positionning_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// レスポンシブ対応
$breakpoints: (
  "md": "screen and (min-width: 650px)",
  "lg": "screen and (min-width: 900px)",
  "xlg": "screen and (min-width: 1200px)",
) !default;

@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
