@import "fonts.scss";
@import "define.scss";

/********************
* 各セクション 
********************/

/***** ヘッダー *****/
header {
  padding: 10px 5%;
  background-color: #fafafa;
  @include mq() {
    padding: 10px 10%;
  }
}

.title-container > span {
  font-family: "Butler", serif;
  font-style: normal;
}

$name-size: 2rem;

.myprefix {
  $prefix-size: $name-size * 0.5;
  font-size: $prefix-size;
  font-weight: normal;
  @include mq(md) {
    font-size: $prefix-size * 1.2;
  }
  @include mq() {
    font-size: $prefix-size * 1.5;
  }
}

.myname {
  font-size: $name-size;
  font-weight: bold;
  @include mq(md) {
    font-size: $name-size * 1.2;
  }
  @include mq() {
    font-size: $name-size * 1.5;
  }
}

.page-title {
  $title-size: $name-size * 413/474.73;
  font-size: $title-size;
  font-weight: bold;
  @include mq(md) {
    font-size: $title-size * 1.2;
  }
  @include mq() {
    font-size: $title-size * 1.5;
  }
}

/***** 自己紹介 *****/

.image-container {
  @include positionning_center();
  img {
    width: 80%;
    max-width: 300px;
    border-radius: 50%;
  }
}

.my-values {
  padding-left: 1em;
  p {
    margin-top: 5px;
    line-height: 1.5;
  }
}

.career-table {
  border-collapse: collapse;
  th {
    width: 5em;
    padding: 7px;
    font-weight: 400;
    text-align: right;
    border-right: solid 1px #ccc;
  }
  td {
    padding: 7px;
  }
}

// 画面サイズlg以上でのグリッドレイアウト
@include mq() {
  .myprofile-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 60% 1fr;
    // justify-content: space-between;
  }

  .image-container {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: start;
    padding-left: 10%;
  }
  .text-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .career-container {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10%;
  }
}

/***** スキル *****/

.skills-table {
  th,
  td {
    display: block;
  }
  border-collapse: collapse;

  tr:nth-child(odd) {
    background-color: #eee;
  }
  @include mq(md) {
    th,
    td {
      display: table-cell;
    }
  }
}

.skill-icon {
  padding: 10px 10px 0;
  text-align: center;
  img {
    width: 48px;
  }
  .ruby-icon {
    width: 36px;
  }
}

.skill-name {
  width: 6.5em;
  margin: 0 auto;
  text-align: center;
  @include mq(md) {
    text-align-last: left;
  }
}

.skill-level {
  padding: 10px;
  text-align: center;
}
.skill-abletodo {
  padding: 10px 10px 10px 50px;
}

/***** サービス *****/

.services-container {
  list-style: none;
}

.service-item {
  @include mq(md) {
    display: flex;
  }

  &:not(:nth-child(1)) {
    margin-top: 40px;
  }
}

.service-image {
  display: block;
  width: 200px;
  padding: 0 20px;
  margin: auto;
  border-radius: 50%;
}

.service-content {
  flex: 1;
}

.services-note {
  text-align: center;
}

/***** ワーク *****/

.work {
  padding-right: 10px;
  padding-left: 10px;
  list-style: none;
  &:not(:first-child) {
    padding-top: 30px;
    border-top: solid 1px lightgray;
  }
  &:not(:last-child) {
    padding-bottom: 30px;
  }
  @include mq(lg) {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 40% 60%;
  }
}

.work-caption {
  @include mq(lg) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 20px;
  }
  .work-category {
    font-family: "Butler", serif;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: normal;
  }

  .tech-tags-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    li {
      $height: 1.5em;
      height: $height;
      padding: 0 1em;
      margin: 5px;
      font-size: 0.8rem;
      background-color: #fafafa;
      border: solid 1px #eee;
      border-radius: $height / 2;
    }
  }
}

.work-image {
  display: block;
  width: 100%;
  border: solid 1px #eee;
  box-shadow: 0px 2px 3px rgba(#000, 0.2);
  @include mq(lg) {
    position: relative;
    top: 50%;
    left: 50%;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    transform: translateY(-50%) translateX(-50%);
  }
}

.work-content {
  @include mq(lg) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 20px;
  }
  .work-text {
    margin-top: 10px;
    // padding: 10px;
  }

  .link-container {
    @include mq(md) {
      display: flex;
    }
    .link-btn {
      position: relative;
      width: 10em;
      padding: 5px 10px;
      margin: 10px auto;
      text-align: center;
      background-color: #eee;
      border-radius: 3px;
      box-shadow: 0px 2px 3px rgba(#000, 0.2);
      &:hover {
        color: #eee;
        background-color: #aaa;
      }
      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.work-feature-list {
  padding-left: 30px;
  margin: 0;
  list-style: none;
  li {
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      box-sizing: border-box;
      display: block;
      width: 20px;
      height: 10px;
      content: "";
      border-top: solid 5px transparent;
      border-right: solid 10px transparent;
      border-bottom: solid 5px transparent;
      border-left: solid 10px gray;
      transform: translate(-100%, -50%);
    }
  }
}

/***** コンタクト *****/

.contact-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding: 0;
  margin-top: 20px;
}

.contact {
  width: 40px;
  list-style: none;
  img {
    width: 100%;
  }
}

.contact-icon {
  width: 40px;
  height: 40px;
  color: white;
  background-color: #555;
  border-radius: 10%;
  @include positionning_center;
}

.contact-material {
  font-size: 30px !important;
}

/********************
 * フッター
 ********************/

.copyright {
  margin: 10px;
  font-size: 0.7rem;
  text-align: center;
}
